{% extends "common/main.html" %}

{% block content %}
			<div id="overview" class="row-fluid">
				<div class="span2 sidebar tabbable tabs-left">
					<ul class="nav nav-tabs">
						{% for stream in user.stream_set.all %}
						<li {% if stream.name|lower == current_stream %}class="selected"{% endif %}>
							{% if stream.name|lower == current_stream %}
							<h3>{{ stream.name }}</h3>
							{% else %}
							<a href="#">{{ stream.name }}</a>
							{% endif %}
							<ul class="nav nav-list">
								{% for source in stream.source_set.all %}
									<li {% if source.name|lower == current_source %}class="active"{% endif %}><a href="#">{{ source.name }}</a></li>
								{% endfor %}
							</ul>
						</li>
						{% endfor %}
					</ul>
				</div>
				<div class="span10">
					{% if current_source %}
						<h2>{{ current_source }}:</h2>
					{% else %}
						{% if current_stream %}
							<h2>{{ current_stream }}:</h2>
						{% else %}
							<h2>{{ user.first_name }} {{ user.last_name }}:</h2>
						{% endif %}
					{% endif %}
					<h4>Last <span id="period">5m</span><a href="#" id="periodIncrease"><i class="icon-plus"></i></a><a href="#" id="periodDecrease"><i class="icon-minus"></i></a></h4>
					<div id="graph_view">
						<div id="graph"></div>
						<div id="navigator"><div id="window"></div></div>
					</div>
					<div id="stats_view">
						<h4>Rate: <span id="rate"></span> Net Sentiment: <span id="net"></span></h4>
						<ul class="nav nav-tabs">
							<li class="active"><a href="#">Topics</a></li>
							<li><a href="#">Stats</a></li>
						</ul>
						<ol id="topics">
						</ol>
					</div>
				</div>
			</div>
{% endblock %}

{% block scripts %}
		<script src="http://mbostock.github.com/d3/d3.js?2.7.2"></script>
		<script src="http://twitter.qchrzan.mouse.engauge.com/assets/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="{{ STATIC_URL }}js/visualizations/graph.js"></script>
		<script>
			userObj = {user: '{{ user.username }}', stream: '{{ current_stream }}', source: '{{ current_source}}' };
			socket = io.connect('http://localhost:8080');

			socket.on('data', function(response) {
				if('groups' in response) {
					info = ''
					for(var i = 0; i < response.groups.length; i++) {
						info += '<li>'+response.groups[i].topic+'</li>\n'
					}
					$("#topics").html(info)
				} else {
					window.graph1.stats = response.obama.data;
					window.nav.stats = response[userObj['source']].data;
					var rate = response[userObj['source']].data.positive.rate - response[userObj['source']].data.negative.rate;
					net += rate * sentiment.graph.duration / 1000;
					$("#net").html(net.toFixed(2));
					$("#rate").html(rate.toFixed(2));
				}
			});

			socket.on('init', function(response) {
				now = (new Date).getTime()/1000;
				socket.emit('interval', {user: userObj, start: now - sentiment.length, stop: now});
			});

			socket.on('interval', function(response) {

				//console.log(response);
				sentiment.redraw(response.graph);
				navigator.redraw(response.navigator);
				$("#period").html(display);
				net = 0;
				if(typeof window.graph1.data != 'undefined') {
					$.each(window.graph1.data,function(index, value){
						net += sentiment.graph.duration * value / 1000
					});
				}
			});
			
			nav_opaque = "<div class='navigator_opaque'></div>";
			$('#window').before(nav_opaque).after(nav_opaque);
			$('#window').draggable({
				axis: 'x',
				containment: 'parent',
				start: function(event, ui) {
					//sentiment.graph.ticker.stop();
					var length = window.nav.data.length;
					var start = parseInt($("#window").position().left / $('#navigator').width() * length);
					var stop = parseInt(($("#window").position().left + $('#window').width()) / $('#navigator').width() * length);
					length = stop - start;
					//sentiment.graph.scrub(navigator, start, length);
				},
				drag: function(event, ui) {
					var start = parseInt($("#window").position().left / $('#navigator').width() * navigator.length);
					dragging = true;
					if(selection == 'move') {
						$nav_first.css('width',ui.position.left);
						$nav_last.css('left',ui.position.left + $('#window').width() + 2);
						$nav_last.css('width', parseInt($('#navigator').width() - $("#window").width())- ui.position.left);
						var percent = ($("#window").position().left + $("#window").width()) / $('#navigator').width();
						var source_start = navigator.graph.now - window.nav.data.length * navigator.graph.duration;
						var interval = navigator.graph.now - start;
						sentiment.offset = (new Date()).getTime() - (source_start + percent * interval);
					}
					if(selection == 'left') {
						$nav_first.css('width',ui.position.left);
						$("#window").css('width', $nav_last.position().left - ui.position.left - 2);
					}
					if(selection == 'right') {
						ui.position.left = $nav_first.width();
						$("#window").css('width', event.pageX - position); 
						$nav_last.css('left',ui.position.left + $('#window').width() + 2);
						$nav_last.css('width', parseInt($('#navigator').width() - $("#window").width())- ui.position.left);
					}
					var length = window.nav.data.length;
					var start = parseInt($("#window").position().left / $('#navigator').width() * length);
					var stop = parseInt(($("#window").position().left + $('#window').width()) / $('#navigator').width() * length);
					window.graph1.data = window.nav.data.slice(start,stop);
					sentiment.length = stop - start;
					sentiment.type = 'scobbler';
					sentiment.redraw();
				},
				stop: function(event, ui) {
					dragging = false;
					position = 0;
					var length = window.nav.data.length;
					var start = parseInt($("#window").position().left / $('#navigator').width() * length);
					var stop = parseInt(($("#window").position().left + $('#window').width()) / $('#navigator').width() * length);
					window.graph1.data = window.nav.data.slice(start,stop);
					sentiment.length = stop - start;
					sentiment.type = 'tick';
					sentiment.redraw();
				}
			});
			$nav_last = $(".navigator_opaque:last");
			$nav_first = $(".navigator_opaque:first");
			$nav_last.css('left','100%');

			window.graph1 = {};
			window.nav = {};
			navigator = new graph('#navigator', window.nav, 3000, 'tick');
			sentiment = new graph('#graph', window.graph1, 300, 'tick');
			selection = 'move';
			dragging = false;
			position = 0;
			period = 300;
			net = 0;
			display = $('#period').html();

			$("#window").mousemove(function(e){
				if(dragging == false) {
					var parentOffset = $(this).offset(); 
					var relX = e.pageX - parentOffset.left;
					var relY = e.pageY - parentOffset.top;
					var width = $(this).width();
					var percent = relX/width;
					if(percent < .1) {
						$(this).css('cursor','w-resize');
						selection = 'left';
					}
					if(percent >= .1 && percent <= .9) {
						$(this).css('cursor','move');
						selection = 'move';
					}
					if(percent > .9) {
						$(this).css('cursor','e-resize');
						selection = 'right';
						position = e.pageX - $(this).width();
					}
				}
			});

			$("#periodIncrease").click(function(){
				changed = false
				if(period < 1800 && changed == false) {
					period += 300;
					changed = true;
				}
				if(period >= 1800 && period < 3600 && changed == false) {
					period += 600;
					changed = true;
				}
				if(period >= 3600 && period < 86400 && changed == false) {
					period += 3600;
					changed = true;
				}
				if(period >= 86400 && changed == false) {
					period += 86400;
					changed = true;
				}
				displayPeriod();
			});

			$("#periodDecrease").click(function(){
				changed = false;
				if(period < 1800 && changed == false) {
					period -= 300;
					if(period < 300) {
						period = 300;
					}
					changed = true;
				}
				if(period >= 1800 && period <= 3600 && changed == false) {
					period -= 600;
					changed = true;
				}
				if(period > 3600 && period < 86400 && changed == false) {
					period -= 3600;
					changed = true;
				}
				if(period >= 86400 && changed == false) {
					period -= 86400;
					changed = true;
				}
				displayPeriod();
			});

			function displayPeriod() {	
				if(period < 3600) {
					display = parseInt(period/60) + 'm';
				}
				if(period >= 3600 && period < 86400) {
					display = parseInt(period/3600) + 'h';
				}
				if(period >= 86400) {
					display = parseInt(period/86400) + 'd';
				}
				sentiment.length = period;
				navigator.length = period * 10;
				navigator.graph.ticker.stop();
				sentiment.graph.ticker.stop();
				now = (new Date).getTime()/1000;
				socket.emit('interval', {user: userObj, start: now - period, stop: now});
			}
		</script>
{% endblock %}
