{% extends "common/main.html" %}

{% block content %}
			<div id="overview" class="row-fluid">
				<div class="span2 sidebar tabbable tabs-left">
					<ul class="nav nav-tabs">
						<li class="selected">
							<h3>Election</h3>
							<ul class="nav nav-list">
								<li class="active"><a href="#">Obama</a></li>
								<li><a href="#">Romney</a></li>
								<li><a href="#">Paul</a></li>
							</ul>
						</li>
						<li><a href="#">Apple</a></li>
						<li><a href="#">Google</a></li>
					</ul>
				</div>
				<div class="span10">
					<h2>Obama:</h2>
					<h4>Last <span id="period">5m</span><a href="#" id="periodIncrease">+</a><a href="#" id="periodDecrease">-</a></h4>
					<div id="graph"></div>
					<div id="graph2"></div>
					<div id="slider"></div>
				</div>
			</div>
{% endblock %}

{% block scripts %}
		<script src="http://mbostock.github.com/d3/d3.js?2.7.2"></script>
		<script src="http://twitter.qchrzan.mouse.engauge.com/assets/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
		<script src="{{ STATIC_URL }}js/visualizations/graph.js"></script>
		<script>
			socket = io.connect('http://localhost:8080');

			socket.on('data', function(response) {
				window.stats = response;
			});

			socket.on('init', function(response) {
				now = (new Date).getTime()/1000;
				socket.emit('interval', {start: now - sentiment.length, stop: now});
			});

			socket.on('interval', function(response) {
				sentiment.redraw(response);
				$("#period").html(display);
			});

			sentiment = new graph('#graph', window, 300);
			period = 300;
			display = '';

			$("#periodIncrease").click(function(){
				changed = false
				if(period < 1800 && changed == false) {
					period += 300;
					changed = true;
				}
				if(period >= 1800 && period < 3600 && changed == false) {
					period += 600;
					changed = true;
				}
				if(period >= 3600 && period < 86400 && changed == false) {
					period += 3600;
					changed = true;
				}
				if(period >= 86400 && changed == false) {
					period += 86400;
					changed = true;
				}
				displayPeriod();
			});

			$("#periodDecrease").click(function(){
				changed = false;
				if(period < 1800 && changed == false) {
					period -= 300;
					if(period < 300) {
						period = 300;
					}
					changed = true;
				}
				if(period >= 1800 && period < 3600 && changed == false) {
					period -= 600;
					changed = true;
				}
				if(period >= 3600 && period < 86400 && changed == false) {
					period -= 3600;
					changed = true;
				}
				if(period >= 86400 && changed == false) {
					period -= 86400;
					changed = true;
				}
				displayPeriod();
			});

			function displayPeriod() {
				if(period < 3600) {
					display = parseInt(period/60) + 'm';
				}
				if(period >= 3600 && period < 86400) {
					display = parseInt(period/3600) + 'h';
				}
				if(period >= 86400) {
					display = parseInt(period/86400) + 'd';
				}
				sentiment.length = period;
				sentiment.graph.ticker.stop();
				now = (new Date).getTime()/1000;
				socket.emit('interval', {start: now - period, stop: now});
			}
		</script>
{% endblock %}
